<section class="head">
  <div class="main">
    <div class="navigate">
      <button type="button" class="btn-circle" (click)="navigateBack()">
        <i class="fas fa-chevron-left"></i>
      </button>
      <p>Data Analytics</p>
    </div>
  </div>
</section>

<section class="graph">
  <div class="line-statistics">
    <app-line-graph
      [statusMessage]="statusMessage"
      [hourlyData]="hourlyData()"
      (isLoaded)="(isLoading)"
    ></app-line-graph>
  </div>
</section>

<section class="tables">
  <div class="container">
    <nav>
      <ul>
        <li
          *ngFor="let nav of tableNav"
          [ngClass]="{ active: dataAnalyticsService.activeTable() === nav }"
        >
          <button (click)="setActiveTable(nav)">{{ nav }}</button>
        </li>
      </ul>
    </nav>
    <div class="table-options">
      <button
        *ngIf="
          dataAnalyticsService.activeTable() === tableNav[0] ||
          dataAnalyticsService.activeTable() === tableNav[1]
        "
        style="padding: 0 10px"
        (click)="viewDetails(dataAnalyticsService.activeTable())"
      >
        View Details
      </button>
      <div class="search">
        <input
          type="text"
          placeholder="Search"
          class="search-input"
          (keyup)="search($event)"
        />
        <div class="search-icon"><i class="fas fa-search"></i></div>
      </div>
    </div>
  </div>
  <div class="table-container">
    <app-loading-spinner
      *ngIf="isLoading || isError"
      [statusMessage]="statusMessage"
      [errorMessage]="errorMessage"
      [isError]="isError"
    ></app-loading-spinner>
    <table>
      <thead>
        <tr>
          <th>
            <input
              type="checkbox"
              (change)="toggleAllCheckboxes($event)"
              [checked]="rowChecked()"
              [indeterminate]="someChecked()"
            />
          </th>

          <th *ngFor="let header of dataAnalyticsService.tableHeaderList()">
            {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredTableData()">
          <ng-container
            *ngIf="dataAnalyticsService.activeTable() === tableNav[0]"
          >
            <td>
              <input
                type="checkbox"
                [checked]="item.checked"
                (change)="toggleCheckbox(item)"
              />
            </td>
            <td>
              <button class="btn-circle" (click)="showModal('remarks', item)">
                <i class="fas fa-eye"></i>
              </button>
            </td>
            <td>{{ item.branchID || '-' }}</td>
            <td
              class="link-hover cursor-pointer"
              (click)="showModal('imei', item)"
            >
              <strong>{{ item.IMEI || '-' }}</strong>
            </td>
            <td>{{ item.routeCode }}</td>
            <td>{{ item.PAO || '-' }}</td>
            <td
              class="link-hover cursor-pointer"
              (click)="showModal('transactions', item)"
            >
              <strong>{{ item.grossSales | currencyFormat }}</strong>
            </td>
            <td>{{ item.tranCount | numberFormat }}</td>
            <td>{{ item.totalPass | numberFormat }}</td>
            <td>{{ item.grossCount | numberFormat }}</td>
            <td>{{ item.passCount | numberFormat }}</td>
            <td
              class="link-hover cursor-pointer"
              (click)="showModal('cashCount', item)"
            >
              <strong>{{ item.cashCount | currencyFormat }}</strong>
            </td>
            <td
              class="link-hover cursor-pointer"
              (click)="showModal('zReadNetAmount', item)"
            >
              <strong>{{ item.netAmt | currencyFormat }}</strong>
            </td>
            <td>
              {{
                ((item.cashCount || 0) - (item.netAmt || 0) | currencyFormat) ||
                  '-'
              }}
            </td>
            <td>{{ item.cctvCount | numberFormat }}</td>
          </ng-container>

          <ng-container
            *ngIf="dataAnalyticsService.activeTable() === tableNav[1]"
          >
            <td>
              <input
                type="checkbox"
                [checked]="item.checked"
                (change)="toggleCheckbox(item)"
              />
            </td>
            <td>{{ item.routeCode || '-' }}</td>
            <td>{{ item.routeName || '-' }}</td>
            <td>{{ item.tranCount | numberFormat }}</td>
            <td>{{ item.totalPass | numberFormat }}</td>
            <td
              class="link-hover cursor-pointer"
              (click)="showModal('transactions', item)"
            >
              <strong>{{ item.grossSales | currencyFormat }}</strong>
            </td>
            <td>{{ item.grossCount | numberFormat }}</td>
            <td>{{ item.passCount | numberFormat }}</td>
            <td
              class="link-hover cursor-pointer"
              (click)="showModal('zReadNetAmount', item)"
            >
              <strong>{{ item.netAmt | currencyFormat }}</strong>
            </td>
          </ng-container>

          <ng-container
            *ngIf="dataAnalyticsService.activeTable() === tableNav[2]"
          >
            <td>
              <input
                type="checkbox"
                [checked]="item.checked"
                (change)="toggleCheckbox(item)"
              />
            </td>
            <td>{{ item.PAO || '-' }}</td>
            <td>{{ item.grossSales | currencyFormat }}</td>
            <td>{{ item.cashCount | currencyFormat }}</td>
          </ng-container>
        </tr>

        <tr *ngIf="isLoading">
          <td [colSpan]="dataAnalyticsService.tableHeaderList().length + 1">
            {{ statusMessage }}
          </td>
        </tr>
        <tr *ngIf="!isLoading && historicalTableData().length === 0">
          <td [colSpan]="dataAnalyticsService.tableHeaderList().length + 1">
            No data available
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-remarks-analytics></app-remarks-analytics>
<app-imei-analytics-details
  [imeiDetails]="modalData"
></app-imei-analytics-details>
<app-transaction-logs [busData]="selectedBusTransaction"></app-transaction-logs>
<app-cash-count-analytics-details
  [cashCountDetails]="modalData"
></app-cash-count-analytics-details>
<app-zreading-logs [busData]="selectedBusZreading"></app-zreading-logs>
