<section class="head">
  <div class="main">
    <div class="navigate">
      <button (click)="goBack()"><i class="fas fa-chevron-left"></i></button>
      <p>{{ routeCode }}</p>
    </div>
  </div>
  <div class="date">
    <p>{{ date | date: 'MMMM d, yyyy' }}</p>
  </div>
</section>
<section class="summary">
  <div class="total">
    <app-bus-summary [busRoutes]="[]"></app-bus-summary>
    <div class="bar-graph">
      <app-bar-graph [statusMessage]="busStatusMessage"></app-bar-graph>
    </div>
  </div>
  <div class="map">
    <app-map-view [statusMessage]="mapStatusMessage"></app-map-view>
  </div>
</section>
<section class="statistics">
  <div class="analytics">
    <div class="buttons">
      <button>Embark</button>
      <button>Disembark</button>
    </div>
    <app-line-graph [statusMessage]="hourlyStatusMessage"></app-line-graph>
  </div>
  <div class="icons">
    <p>Last Update</p>
    <div *ngFor="let icon of busIcons">
      <img [src]="icon.path" [alt]="icon.name" />
      <span>{{ icon.name }}</span>
    </div>
  </div>
</section>
<section class="buses">
  <div class="selection">
    <button (click)="toggleAll(true)">Select All</button>
    <button (click)="toggleAll(false)">Deselect All</button>
  </div>
  <div class="list">
    <ul>
      <li class="bus-list" *ngFor="let bus of buses; index as i">
        <app-bus-card [busDetails]="bus" [maximize]="maximize"></app-bus-card>
        <div class="menu">
          <input type="checkbox" [checked]="bus.checked" class="form-check" (change)="toggleBus(bus)" />
          <button><i class="far fa-plus-square"></i></button>
          <button><i class="fas fa-eye"></i></button>
          <div class="dropdown">
            <button tabindex="0" role="button"><img [src]="receipts" /></button>
            <ul tabindex="0" class="dropdown-content z-[1]">
                  <li *ngFor="let option of transactionOptions" (click)="openLogs(option.modalId, bus)">{{
                    option.name }}</li>
                  <li (click)="openPreviousDays()">Last 30 Days (Outlet, IMEI, Route)</li>
                  <li (click)="openPreviousDays('IMEI')">Last 30 Days (IMEI)</li>
                  <li (click)="openPreviousDays('PAO')" *ngIf="bus.PAO">Last 30 Days (PAO)</li>
                </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- <app-transaction-logs [busData]="selectedBusData?.transactions"></app-transaction-logs>
<app-zreading-logs [busData]="selectedBusData?.zreading"></app-zreading-logs>
<app-cctv-hourly [busData]="selectedBusData?.cctvHourly"></app-cctv-hourly>
<app-hourly-summary [busData]="selectedBusData?.hourlySummary"></app-hourly-summary>
<app-performance-analysis [busData]="selectedBusData?.analysis"></app-performance-analysis> -->
