<dialog id="remarksAnalytics" class="modal">
  <div class="modal-box">
    <div class="modal-header">
      <h4 class="title">Remarks</h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <form [formGroup]="remarksForm" (submit)="onSubmit()">
      <div class="modal-body">
        <div class="form-input">
          <label for="concerns"> Concerns </label>
          <textarea
            formControlName="concerns"
            class="w-2/3"
            id="concerns"
            placeholder="Enter your concerns here"
          ></textarea>
        </div>
        <div class="form-input">
          <label for="actions"> Actions </label>
          <textarea
            formControlName="actions"
            class="w-2/3"
            id="actions"
            placeholder="Enter your actions here"
          ></textarea>
        </div>
        <div class="form-input">
          <label for="recommendations"> Recommendations </label>
          <textarea
            formControlName="recommendations"
            class="w-2/3"
            id="recommendations"
            placeholder="Enter your recommendations here"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn text-white"
          type="submit"
          [disabled]="remarksForm.invalid"
        >
          <i class="fas fa-check"></i> Submit
        </button>
      </div>
    </form>
  </div>
</dialog>
