<dialog id="transactions" class="modal">
  <div class="modal-box large">
    <div class="modal-header">
      <h4 class="title">Transaction Logs</h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <div class="modal-body">
      <div class="transaction-data">
        <div>
          <p>
            IMEI: <span>{{ busData?.IMEI || '-' }}</span>
          </p>
          <p>
            Bus: <span>{{ busData?.branchID || '-' }}</span>
          </p>
          <p>
            Date:
            <span>{{ (busData?.txnDate | date : 'MMM d, yyyy') || '-' }}</span>
          </p>
        </div>
        <div>
          <p>
            Route: <span>{{ busData?.routeCode || '-' }}</span>
          </p>
          <p>
            PAO: <span>{{ busData?.PAO || '-' }}</span>
          </p>
        </div>
        <button
          class="btn-circle"
          (click)="onPrint()"
          title="Print"
          [disabled]="isLoading || isError || !transactionLogs.length"
        >
          <i class="fas fa-print"></i> Print
        </button>
      </div>

      <div class="transaction-summary">
        <ng-container *ngFor="let item of totalTransactionHeader">
          <div>
            <p>{{ item.label }}</p>
            <strong>{{
              item.currency
                ? (item.value | currencyFormat)
                : item.distance
                ? (item.value | decimalFormat) + ' km.'
                : (item.value | numberFormat)
            }}</strong>
          </div>
        </ng-container>
      </div>

      <div class="table-container">
        <app-loading-spinner
          *ngIf="isLoading || isError"
          [statusMessage]="statusMessage"
          [errorMessage]="errorMessage"
        ></app-loading-spinner>
        <table>
          <thead>
            <tr>
              <th *ngFor="let header of transactionHeaders">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of transactionLogs">
              <td>{{ log.txnDateTime | date : 'h:mm a' }}</td>
              <td>{{ log.dateTimeIN | date : 'h:mm a' }}</td>
              <td>{{ log.startStnCode || '-' }}</td>
              <td>{{ log.endStnCode || '-' }}</td>
              <td>{{ log.tripDistance | decimalFormat }} km.</td>
              <td>{{ log.pax | numberFormat }}</td>
              <td>{{ log.fareAmt | currencyFormat }}</td>
              <td>{{ log.discountAmt | currencyFormat }}</td>
              <td>{{ log.totalAmt | currencyFormat }}</td>
              <td>{{ log.location || '-' }}</td>
            </tr>
            <tr *ngIf="!isLoading && !transactionLogs.length">
              <td [colSpan]="transactionHeaders.length + 1">
                {{ statusMessage }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</dialog>
