<div class="container" [ngClass]="busColor">
  <div *ngIf="!maximize" class="min">
    <div class="details">
      <span>
        <img [src]="paoIcon" />
        <img [src]="slantedIcon" class="spacing" />
        <p>{{ busDetails.PAO || '-' }}</p>
      </span>
      <span>
        <img [src]="salesIcon" />
        <img [src]="slantedIcon" class="spacing" />
        <p>{{ busDetails.grossSales | currencyFormat }}</p>
      </span>
      <span>
        <img [src]="averageIcon" />
        <img [src]="slantedIcon" class="spacing" />
        <p>{{ busDetails.averageRev ? (busDetails.averageRev | currencyFormat) : '-' }} ({{ busDetails.duration | timeDecimal }})
        </p>
      </span>
      <span>
        <img [src]="lastUpdateIcon" />
        <img [src]="slantedIcon" class="spacing" />
        <p>({{ (busDetails.lastTransact | date: 'EEE') || '-' }}) {{ (busDetails.lastTransact | date: 'MMM dd, y') || '-' }} | {{ (busDetails.lastTransact | date: 'h:mm a') ||
          '-'
          }}</p>
      </span>
    </div>
    <div class="main">
      <h4>{{ busDetails.branchID }}</h4>
      <p>{{ busDetails.IMEI }}</p>
    </div>
    <div class="gps" *ngIf="lastGPSUpdate">
      <img [src]="gpsIcon" />
    </div>
  </div>
  <div *ngIf="maximize" class="max">
    <div class="main">
      <h4>{{ busDetails.branchID }} | {{ busDetails.routeCode }}</h4>
    </div>
    <br />
    <div class="details">
      <div>
        <span>Last POS Update</span>
        <span class="data">: ({{ (busDetails.lastTransact | date: 'EEE') || '-' }}) {{ (busDetails.lastTransact | date: 'MMM d, y h:mm a') || '-' }}</span>
      </div>
      <div>
        <span>Last GPS Update</span>
        <span class="data">: ({{ (busDetails.lastGPS | date: 'EEE') || '-' }}) {{ (busDetails.lastGPS | date: 'MMM d, y h:mm a') || '-' }}</span>
      </div>
      <div>
        <span>Previous PAO</span>
        <span class="data">: {{ busDetails.lastPAO || '-' }}</span>
      </div>
      <div>
        <span>Average Revenue/Hour</span>
        <span class="data">: {{ busDetails.averageRev | currencyFormat }} ({{ busDetails.duration | timeDecimal }})</span>
      </div>
      <hr class="margin-y">
      <div>
        <span>IMEI</span>
        <span class="data">: {{ busDetails.IMEI }}</span>
      </div>
      <div>
        <span>PAO</span>
        <span class="data">: {{ busDetails.PAO || '-' }}</span>
      </div>
      <div>
        <span>Time In | Out</span>
        <span class="data">: {{ busDetails.timeIn || '-' }} | {{ busDetails.timeOut || '-' }}</span>
      </div>
      <div>
        <span>Duration</span>
        <span class="data">: {{ busDetails.duration | timeDecimal }}</span>
      </div>
      <hr class="margin-y">
      <div>
        <span>POS Trxn Count</span>
        <span class="data">: {{ (busDetails.tranCount - busDetails.grossCount) | numberFormat }} / {{
          busDetails.tranCount | numberFormat
          }}</span>
      </div>
      <div>
        <span>POS Pass Count</span>
        <span class="data">: {{ (busDetails.totalPass - busDetails.passCount) | numberFormat }} / {{
          busDetails.totalPass | numberFormat
          }}</span>
      </div>
      <div>
        <span>POS Sales</span>
        <span class="data">: {{ (busDetails.grossSales - busDetails.grossAmt) | currencyFormat }} / {{
          busDetails.grossSales |
          currencyFormat
          }}</span>
      </div>
      <hr class="margin-y">
      <div>
        <span>Last Z-Reading</span>
        <span class="data">: {{ busDetails.lastZread | date: 'MMM d, y h:mm a' }}</span>
      </div>
      <div>
        <span>Z-Read Trxn Count</span>
        <span class="data">: {{ busDetails.grossCount | numberFormat }}</span>
      </div>
      <div>
        <span>Z-Read Pass Count</span>
        <span class="data">: {{ busDetails.passCount | numberFormat }}</span>
      </div>
      <div>
        <span>Z-Read Net Amt</span>
        <span class="data">: {{ busDetails.netAmt | currencyFormat }}</span>
      </div>
      <div>
        <span>Z-Read Gross Amt</span>
        <span class="data">: {{ busDetails.grossAmt | currencyFormat }} ({{ busDetails.logCount | numberFormat }})</span>
      </div>
      <hr class="margin-y">
      <div>
        <span>As of</span>
        <span class="data">: {{ busDetails.cctvTime | date: 'MMM d, y h:mm a' }}</span>
      </div>
      <div>
        <span>CCTV Count</span>
        <span class="data">: {{ busDetails.totalCctvCount | numberFormat }} / {{ busDetails.cctvCount | numberFormat
          }}</span>
      </div>
    </div>
  </div>
</div>
