@import '../../../styles.scss';

:host {
  @include gray-background;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.bus-routes {
  position: relative;
  flex: 1;
}

.head {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  .main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .icons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.425rem;

      img {
        width: 3rem;
        height: auto;
      }

      p {
        text-align: center;
        font-family: 'VisbyRoundCF-Regular';
        font-size: 1rem;
      }

      @include breakpoints(medium) {
        p {
          font-size: 0.8rem;
        }

        img {
          width: 2.5rem;
        }
      }
    }
  }
}

.bus-routes {
  // background-color: $off-white;

  > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoints(medium) {
      grid-template-columns: 1fr;
    }
  }

  li.route {
    background-color: #fff;
    border-radius: 0.72rem;
    margin: 1rem;
    padding: 1rem;
  }
}

.header {
  @include flex-between-center;
  margin-bottom: 0.5rem;

  .detail {
    display: flex;

    .count {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 4rem;
      height: auto;

      &::before {
        content: '';
        background: url('#{$asset-url}/circle_dotted.svg') center no-repeat;
        background-size: contain;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      p {
        font-family: 'VisbyRoundCF-Bold';
        font-size: 1.325rem;
      }

      img {
        width: 1rem;
        height: auto;
      }
    }

    .name {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        font-family: 'VisbyRoundCF-Bold';
        font-size: 1.625rem;
      }

      p {
        font-family: 'VisbyRoundCF-light';
        font-size: 1.3125rem;
      }
    }
  }

  img {
    @apply transition;
    cursor: pointer;

    &:hover {
      filter: brightness(0) saturate(100%) invert(18%) sepia(92%) saturate(705%)
        hue-rotate(165deg) brightness(102%) contrast(91%);
    }
  }
}

.route-summary {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-bottom: 2rem;
  gap: 1rem;

  @include breakpoints(large) {
    flex-direction: column;
  }

  .total {
    flex: 1;

    span {
      display: flex;
      justify-content: space-between;
      line-height: 1.45;
      min-width: 15rem;
      max-width: 20rem;

      @include breakpoints(large) {
        max-width: none;
      }

      p {
        font-family: 'VisbyRoundCF-Bold';

        &.label {
          font-family: 'VisbyRoundCF-light';
        }
      }
    }
  }

  .graph {
    min-width: 15rem;
    min-height: 7rem;
    aspect-ratio: 15/6;
  }
}

.buses {
  p {
    font-family: 'VisbyRoundCF-Bold';
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .list {
    @include flex-one;
    min-height: 11.25rem;

    @include breakpoints(large) {
      min-height: 22.85rem;
    }

    ul {
      @include flex-one;

      @include breakpoints(large) {
        flex-direction: column;
      }

      li {
        flex: 1;
      }
    }

    .next {
      // @include brt-button;
      border-radius: 0.5rem;
      font-size: 3rem;
      width: 4rem;
    }
  }
}
