<!-- <div class="relative h-1 bg-gray-200">
  <div class="absolute top-0 h-full bg-blue-500" [style.width.%]="80"></div>
</div> -->
<header>
  <div class="nav-logo">
    <div class="mobile-menu">
      <div class="drawer">
        <input id="sidebar" type="checkbox" class="drawer-toggle" [(ngModel)]="sideBar" />
        <div class="drawer-content">
          <label for="sidebar" class="btn btn-secondary drawer-button rounded-full">
            <i class="fas fa-bars"></i>
          </label>
        </div> 
        <div class="drawer-side" id="sidebar">
          <label for="sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
            <li *ngFor="let nav of navigation" 
            class="hover:bg-sky-600 hover:text-white"
            (click)="closeSidebar()" 
            [routerLink]="nav.path"
            [routerLinkActive]="['bg-sky-800', 'text-white']"
            >
              <a>{{ nav.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="icon-container">
      <img [src]="icons.brt.url" [alt]="icons.brt.label" class="icon" (click)="openSelectMerchantModal()"/>
    </div>
  </div>
  <nav>
    <ul>
      <li *ngFor="let nav of navigation" [class.active]="activeRoute(nav.path)" [routerLink]="nav.path">
        <a>{{ nav.name }}</a>
      </li>
    </ul>
  </nav>
  <div class="profile">
    <div class="notification">
      <img [src]="icons.notif.url" [alt]="icons.notif.label" />
      <div class="indicator-item badge" *ngIf="!!notifCount">{{ notifCount }}</div>
    </div>
    <p>
      <span>{{ merchant.merchantID }}</span>
      |
      <span>{{ environment }}</span>
    </p>
    <img [src]="icons.user.url" [alt]="icons.user.label" class="user" />
  </div>
</header>
<app-select-merchant (selectedMerchant)="merchant"></app-select-merchant>
