<dialog id="alertDetails" class="modal">
  <div class="modal-box">
    <div class="modal-header">
      <h4 class="title">
        <i class="fas fa-exclamation-triangle"></i> Alert Details
      </h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <form [formGroup]="alertDetails" (submit)="resolveAlert()">
      <div class="modal-body">
        <label>
          IMEI
          <input type="text" class="w-2/3" formControlName="imei" />
        </label>
        <label>
          BUS UNIT
          <input type="text" class="w-2/3" readonly formControlName="busUnit" />
        </label>
        <label>
          PAO
          <input type="text" class="w-2/3" readonly formControlName="pao" />
        </label>
        <label>
          ROUTE
          <input type="text" class="w-2/3" readonly formControlName="route" />
        </label>
        <label>
          TIME IN
          <input type="text" class="w-2/3" readonly formControlName="timeIn" />
        </label>
        <label>
          TIME OUT
          <input type="text" class="w-2/3" readonly formControlName="timeOut" />
        </label>
        <label>
          LAST POS UPDATE
          <input
            type="text"
            class="w-2/3"
            readonly
            formControlName="lastPosUpdate"
          />
        </label>
        <label>
          LAST UPDATE
          <input
            type="text"
            class="w-2/3"
            readonly
            formControlName="latestUpdate"
          />
        </label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="resolveAlert()">
          <i class="fas fa-redo"></i>
          Resolve Issue
        </button>
      </div>
    </form>
  </div>
</dialog>
