@import '../../../../styles.scss';

main {
  @include modal-layout;
}

app-statistics {
  font-size: 1rem;
}
.modal-body {
  position: relative;
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
  }
}
