.modal-body {
  min-height: 35rem;
  padding: 0.5rem;

  &>div {
    padding: 0.475rem;

    h4 {
      font-size: 1.75rem;
      font-family: 'VisbyCF-Bold';
      text-align: center;
    }
  }

  .header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.125rem;
    }
  }

  .content {
    display: flex;
  }

  .zreadings {
    flex: 3;
    display: flex;
    flex-direction: column;

    &-list {
      @apply bg-slate-200;
      // flex: 1;
      height: 30rem;
      overflow: auto;
      position: relative;
      padding: 0.35rem;

      .zreading {
        @apply border border-gray-500;
        border-radius: 0.5rem;
        padding: 0.4rem;
        position: relative;
        white-space: break-spaces;
        font-size: 1.05rem;
        font-family: 'Consolas';
        background-color: #fff;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &>div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    &-total {
      margin-bottom: 0.5rem;

      &>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      h4 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.125rem;
      }
    }
  }

  .outlook {
    flex: 4;

    &-options {

      &>div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        margin: 0.35rem 0;

        select {
          padding: 0.4rem 0.75rem;
        }

        input[type="text"] {
          padding: 0.2rem 1rem;
        }
      }

      .buttons {
        gap: 0.5rem;
      }

      .config {
        display: flex;
        gap: 0.2rem;
        justify-content: flex-end;

        button {
          height: 2.35rem;
          width: 2.35rem;
        }
      }
    }

    &-report {
      font-size: 1.05rem;

      &>div {
        display: grid;
        grid-template-columns: 3fr 1fr;
        font-family: 'ArticulatCF-Medium';
      }

      .results {
        @apply bg-gray-200;
        font-size: 1.4rem;
        border-radius: 0.25rem;
        padding: 0.325rem;
      }
    }
  }
}

span.line {
  @apply bg-slate-400;
  height: auto;
  width: 1px;
  margin: 0.5rem 0.45rem;
}
