* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  @apply text-sky-800;
  min-height: 100%;
  font-family: 'VisbyCF-Medium';
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

select {
  position: relative;
  width: 100%;
  font-size: 1rem !important;
  // appearance: none;
  padding: 0.7rem 1rem;
  border: 1px solid $brt-border;
  border-radius: 0.25rem;
  color: $primary-blue;
  cursor: pointer;

  &:focus {
    outline-style: none !important;
  }

  option {
    cursor: pointer;
  }
}

// Buses, Routes, Bus Routes, Historical Header
section.head {
  @include flex-between-center;
  padding: 1rem;

  p {
    font-family: 'VisbyRoundCF-Bold';
    font-size: 1.8125rem;
  }

  .main {
    @include flex-between-center;
    gap: 2rem;

    p {
      text-transform: capitalize;
    }

    .navigate {
      @include flex-between-center;
      @include white-bg-content;
      padding: 0.5rem 2.5rem 0.5rem 1rem;
      gap: 1rem;

      button {
        @include brt-button;
        padding: 1.5rem;
        border-radius: 50%;

        i {
          font-size: 1.5rem;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: 0;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .date {
    @include white-bg-content;
    padding: 1.5rem 3rem;
    margin-left: 1rem;
  }
}

// Buses, Route Buses list
li.bus-list {
  position: relative;
  display: flex;

  app-bus-card {
    flex: 1;
  }

  .menu {
    @include flex-center-center;
    position: relative;
    padding: 0.525rem;
    height: fit-content;
    flex-direction: column;
    gap: 0.5rem;

    &::before {
      @apply bg-sky-400;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      top: 0;
      right: 0;
      padding-left: 4rem;
      z-index: -1;
    }

    button {
      background-color: inherit;
      font-size: 1.3rem;

      i,
      img {
        @apply transition;
      }

      &:hover {
        i {
          color: black;
        }

        img {
          filter: brightness(0);
        }
      }
    }

    details {
      &[open] {
        summary i {
          color: #000;
        }

        ul {
          background-color: transparent;
        }
      }

      &.dropdown {
        summary {
          @apply transition;
          cursor: pointer;
          display: block;
          color: #fff;
          font-size: 1.3rem;

          &:hover {
            color: #000;
          }
        }
      }
    }

    // .dropdown {
    //   position: relative;

    //   .options {
    //     // display: none;
    //     background-color: #fff;
    //     position: absolute;
    //     top: -1rem;
    //     right: 2rem;
    //     width: max-content;
    //     z-index: 1;
    //     border-radius: 0.625rem;
    //     padding: 0.5rem 0;
    //     box-shadow: 2px 0px 6px $shadow;

    //     ul {
    //       position: absolute;
    //       display: contents;

    //       li {
    // cursor: pointer;
    // padding: 0.1rem 0.8rem;
    // font-size: 1.0625rem;

    //         &:hover {
    //           background-color: #4587aa58;
    //         }
    //       }
    //     }
    //   }
    // }
  }

  .dropdown {

    .dropdown-content {
      padding: 0.5rem;
      background-color: white;
      border-radius: 0.35rem;
    }

    ul {
      position: absolute;
      display: block;
      flex-direction: column;
      font-family: 'ArticulatCF-DemiBold';

      li {
        @apply transition hover:bg-slate-300 p-2 rounded;
        width: 100%;
        text-align: left;
        cursor: pointer;
        font-size: 1.0625rem;
      }
    }
  }
}
