input {
  &[type='text'] {
    font-family: 'VisbyRoundCF-Regular';
    font-size: 1.2rem;
    height: 100%;
    padding: 0.415rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px $primary-blue;

    &:focus {
      border-bottom: 1px solid $shadow;
    }

    &.invalid {
      border: 1px solid red;
    }
  }

  &[type='date'] {
    font-family: 'VisbyRoundCF-Regular';
    font-size: 1.2rem;
    height: 100%;
    padding: 0.415rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px $primary-blue;

    &:focus {
      border-bottom: 1px solid $shadow;
    }

    &.invalid {
      border: 1px solid red;
    }
  }

  &[type='time'] {
    font-family: 'VisbyRoundCF-Regular';
    font-size: 1.2rem;
    height: 100%;
    padding: 0.415rem;
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px $primary-blue;

    &:focus {
      border-bottom: 1px solid $shadow;
    }

    &.invalid {
      border: 1px solid red;
    }
  }

  &[type='checkbox'] {
    @apply checkbox checkbox-md border-lime-700/50 [--chkbg:theme(colors.lime.400)];
  }

  &[type='radio'] {
    @apply radio radio-md border-lime-700/50 [--chkbg:theme(colors.lime.400)];
  }
}
