$url: '../assets/img';

#map,
#timelapse-map {
  height: 100%;
  width: 100%;
}

.bus-marker {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0 0 1px gray);
}

.mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 0.5rem !important;
}

.mapboxgl-popup-close-button {
  display: none;
}

.bus-popup {
  font-family: 'ArticulatCF-Medium';
  border-radius: inherit;
  padding: 0.5rem;
  font-size: 1.325rem;
  color: rgb(150, 150, 150);

  &.red {
    background-color: $brt-button-red;
  }

  &.orange {
    background-color: $bus-orange;
  }

  &.yellow {
    background-color: $bus-yellow;
  }

  &.green {
    background-color: $bus-green;
  }

  &.blue {
    background-color: $bus-blue;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.35rem;
    gap: 0.5rem;
  }

  hr {
    @apply border-gray-700;
    margin: 0.35rem 0;
  }
}

.bus-marker {
  height: 2rem;
  width: 2rem;

  &.blue {
    background: url('#{$url}/bus_light_blue.svg') center no-repeat;
    background-size: contain;
  }

  &.green {
    background: url('#{$url}/bus_green.svg') center no-repeat;
    background-size: contain;
  }

  &.yellow {
    background: url('#{$url}/bus_yellow.svg') center no-repeat;
    background-size: contain;
  }

  &.orange {
    background: url('#{$url}/bus_orange.svg') center no-repeat;
    background-size: contain;
  }

  &.red {
    background: url('#{$url}/bus_red.svg') center no-repeat;
    background-size: contain;
  }
}
