// Mixins
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin debug-block {
  border: 1px solid black;
}

@mixin breakpoints($point) {
  @if $point ==small {
    @media (max-width: 500px) {
      @content;
    }
  }

  @else if $point ==medium {
    @media (max-width: 900px) {
      @content;
    }
  }

  @else if $point ==large {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @else if $point ==xlarge {
    @media (max-width: 1500px) {
      @content;
    }
  }
}

@mixin grid-border {
  @apply border border-slate-400/75;
  border-radius: 0.68rem;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin white-bg-content {
  font-size: 1.8125rem;
  border-radius: 1.375rem;
  background-color: #fff
}

@mixin flex-one {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

@mixin brt-button {
  position: relative;
  color: #fff;
  border-radius: 0.9375rem;
  background-color: $brt-button;

  &:disabled {
    background-color: $gray;
  }

  &:not(:disabled):hover {
    background-color: $primary-blue;
  }

  i {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
}

@mixin modal-layout {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // background-color: #00000026;
  // backdrop-filter: blur(1rem);
  // width: 100%;
  // height: 100%;
  // z-index: 3;
}

@mixin btn-circle {
  @apply text-white bg-sky-400 transition hover:bg-sky-700;
  font-size: 1.2rem;
}

@mixin gray-background {
  position: relative;

  &::before {
    @apply bg-gray-200;
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
