<dialog id="editPersonnel" class="modal">
  <div class="modal-box">
    <div class="modal-header">
      <h4 class="title">Edit {{ personnelType }}</h4>
      <form method="dialog">
        <button class="btn-circle danger" (click)="resetForm()"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <form (submit)="updatePersonnel()" [formGroup]="editPersonnelForm" (keydown.enter)="updatePersonnel()"
      (keydown.escape)="resetForm()">
      <div class="modal-body">
        <label>
          First Name
          <input type="text" formControlName="firstName" placeholder="Required" class="w-2/3"
            [class.invalid]="errorControl['firstName'].invalid && errorControl['firstName'].touched" />
        </label>
        <label>
          Last Name
          <input type="text" formControlName="lastName" placeholder="Required" class="w-2/3"
            [class.invalid]="errorControl['lastName'].invalid && errorControl['lastName'].touched" />
        </label>
        <label>
          Middle Name
          <input type="text" formControlName="middleName" placeholder="Optional" class="w-2/3" />
        </label>
        <label>
          Email
          <input type="text" formControlName="email" placeholder="Valid email (optional)" class="w-2/3"
            [class.invalid]="errorControl['email'].invalid && errorControl['email'].touched" />
        </label>
        <label>
          Contact Number
          <input type="text" formControlName="contact" placeholder="Valid contact number (optional)" class="w-2/3"
            [class.invalid]="errorControl['contact'].invalid && errorControl['contact'].touched" />
        </label>
        <label>
          Status
          <select class="select w-2/3" formControlName="status">
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
            <option value="BLOCKED">Blocked</option>
          </select>
        </label>
      </div>
      <div class="modal-footer">
        <div *ngIf="messageDisplay">
          <i class="text-slate-500">{{ message }}</i>
        </div>
        <!-- <button type="button" (click)="resetForm()">Reset</button> -->
        <button type="submit">Update</button>
      </div>
    </form>
  </div>
</dialog>
