<section class="print-section">
  <div class="print-data" id="hourly-transaction-data">
    <div class="print-header">
      <div class="header-content">
        <div class="header-details">
          <h1>PERFORMANCE ANALYSIS</h1>
          <p>
            {{ currentDate | date : 'EEEE, MMMM d, y h:mm:ss a' }}
          </p>
        </div>
        <img [src]="brtLogo" alt="BRT Logo" class="logo" />
      </div>
    </div>
    <div class="print-body">
      <ul class="performance-details">
        <li class="details-item">
          <div class="details-content">
            <div class="label">
              <p>PAO</p>
            </div>
            <div class="value">
              <p>{{ busData.PAO || '-' }}</p>
            </div>
          </div>
          <div class="details-content">
            <div class="label">
              <p>IMEI</p>
            </div>
            <div class="value">
              <p>{{ busData.IMEI || '-' }}</p>
            </div>
          </div>
          <div class="details-content">
            <div class="label">
              <p>Date</p>
            </div>
            <div class="value">
              <p>{{ busData.txnDate | date }}</p>
            </div>
          </div>
        </li>
        <li class="details-item">
          <div class="details-content">
            <div class="label">
              <p>Bus</p>
            </div>
            <div class="value">
              <p>{{ busData.branchID || '-' }}</p>
            </div>
          </div>
          <div class="details-content">
            <div class="label">
              <p>Route</p>
            </div>
            <div class="value">
              <p>{{ busData.routeCode || '-' }}</p>
            </div>
          </div>
          <div class="details-content">
            <div class="label">
              <p>Route Name</p>
            </div>
            <div class="value">
              <p>{{ busData.routeName || '-' }}</p>
            </div>
          </div>
        </li>
        <li class="details-item">
          <div class="details-content">
            <div class="label">
              <p>Time IN</p>
            </div>
            <div class="value">
              <p>{{ busData.timeIn || '-' }}</p>
            </div>
          </div>
          <div class="details-content">
            <div class="label">
              <p>Time Out</p>
            </div>
            <div class="value">
              <p>{{ busData.timeOut || '-' }}</p>
            </div>
          </div>
          <div class="details-content">
            <div class="label">
              <p>Duration</p>
            </div>
            <div class="value">
              <p>{{ busData.duration || '-' }}</p>
            </div>
          </div>
        </li>
      </ul>

      <div class="revenue-outlook">
        <h2>Revenue Outlook</h2>
        <ul class="revenue-outlook-details">
          <li class="details-item">
            <div class="details-content">
              <div class="label">
                <p>CCTV Count (Enter)</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.cctvCount }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Multiply: Accuracy (%)</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.accuracyMultiply }}%</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>CCTV Count Accuracy</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.cctvCountAccuracy }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Less: PAO Enter Accuracy (%)</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.paoEnterAccuracy }}%</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Passenger Count</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.passengerCount }}</p>
              </div>
            </div>
          </li>
          <li class="details-item">
            <div class="details-content">
              <div class="label">
                <p>CCTV Count Accuracy Less PAO Enter Count</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.cctvCountAccuracyLessPaoEnterCount }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Less: POS Passenger Count</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.posPassengerCountLess }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Multiply: Minimum Fare</p>
              </div>
              <div class="value">
                <p>₱{{ revenueOutlook.minimumFareMultiply }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Total Cash Count</p>
              </div>
              <div class="value">
                <p>₱{{ revenueOutlook.totalCashCount }}</p>
              </div>
            </div>
          </li>
          <li class="details-item">
            <div class="details-content">
              <div class="label">
                <p>Total Net Count</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.totalNetCount }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Resulting Revenue Leak</p>
              </div>
              <div class="value">
                <p>₱{{ revenueOutlook.resultingRevenueLeak }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Less Excess</p>
              </div>
              <div class="value">
                <p>{{ revenueOutlook.lessExcess }}</p>
              </div>
            </div>
            <div class="details-content">
              <div class="label">
                <p>Probable Revenue Leak</p>
              </div>
              <div class="value">
                <p>₱{{ revenueOutlook.probableRevenueLeak }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="zreading-outlook">
        <h2 *ngIf="zreadingLogs.length > 0; else noZreading">
          {{ zreadingLogs.length }} Zreading/s
        </h2>
        <ng-template #noZreading>
          <h2>No Zreading/s</h2>
        </ng-template>
        <ul class="zreading-list">
          <li
            class="zreading-item"
            *ngFor="let item of zreadingLogs; let i = index"
          >
            <div class="details-content">
              <p>
                <strong> {{ i + 1 }}.</strong>
                {{ item.reportData }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="print-action">
      <button class="btn-circle" title="Print" (click)="onPrint()">
        <i class="fas fa-print"></i>
      </button>
    </div>
  </div>
</section>
