<section class="head">
  <div class="main">
    <div>
      <p>Bus Locations</p>
    </div>
    <div>
      <p>{{ date | date: 'd MMM y h:mm:ss a' }} ({{ date | date: 'EEE' }})</p>
    </div>
  </div>
</section>

<section class="map-container">
  <app-loading-spinner *ngIf="isLoading || isError" [statusMessage]="statusMessage" [errorMessage]="errorMessage"
    [isError]="isError"></app-loading-spinner>
  <div id="map"></div>
</section>

<section class="bus-data">
  <div class="total">
    <p>Total Buses on display: {{ totalBuses | numberFormat }}</p>
  </div>
  <div>
    <ul class="icons">
      <li *ngFor="let category of busCategory">
        <img [src]="category.path" [alt]="category.name" (click)="filterBusColor(category.key)"/>
        <span>{{ category.count | numberFormat }}</span>
      </li>
    </ul>
  </div>
</section>
