<dialog id="editIMEI" class="modal">
  <div class="modal-box">
    <div class="modal-header">
      <h4 class="title">Edit IMEI</h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <form (submit)="updateIMEI()" [formGroup]="editIMEIForm" (keydown.enter)="updateIMEI()">
      <div class="modal-body">
        <p>IMEI: {{ imeiData?.IMEI }}</p>
        <label>
          Status
          <select class="select w-2/3" formControlName="status">
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
        </label>
      </div>
      <div class="modal-footer">
        <div *ngIf="messageDisplay">
          <i class="text-slate-500">{{ message }}</i>
        </div>
        <button type="submit">Update</button>
      </div>
    </form>
  </div>
</dialog>
