<div class="tooltip container" *ngIf="visible">
  <div>
    <p class="label">Date Joined</p>
    <p class="data">: {{ content?.lastName }}, {{ content?.firstName }} {{ content?.middleName }}</p>
  </div>
  <div>
    <p class="label">Status</p>
    <p class="data">: status</p>
  </div>
  <div>
    <p class="label">Date of Birth</p>
    <p class="data">: birth date</p>
  </div>
  <div>
    <p class="label">Gender</p>
    <p class="data">: gender</p>
  </div>
  <div>
    <p class="label">Age</p>
    <p class="data">: age</p>
  </div>
  <div>
    <p class="label">Place of Birth</p>
    <p class="data">: birth place</p>
  </div>
  <div class="span">
    <p class="label">Address</p>
    <p class="data">: address</p>
  </div>
  <div>
    <p class="label">Contact Number</p>
    <p class="data">: birth place</p>
  </div>
  <div class="span">
    <p class="label">Top sales</p>
    <p class="data">: sales (date)</p>
  </div>
  <div>
    <p class="label">No. of Violations</p>
    <p class="data">: violation</p>
  </div>
</div>
