<div class="hero min-h-screen bg-base-200" style="position: relative">
  <app-loading-spinner
    *ngIf="isLoading"
    [isError]="false"
    statusMessage="Loading..."
  ></app-loading-spinner>

  <div class="hero-content text-center">
    <div class="max-w-lg">
      <img [src]="imagePath" alt="logo" class="w-48 mx-auto mb-10" />
      <h1 class="text-5xl font-bold mb-10">
        Welcome to the <span class="text-primary">BRT</span> System
      </h1>
      <p class="mb-10">
        The BRT system is a bus-based public transport system designed to
        improve capacity and reliability relative to a conventional bus system.
        The BRT system is designed to be faster and more reliable than a regular
        bus system.
      </p>
      <!-- get started btn -->
      <button class="btn btn-primary" (click)="navigateTo('/dashboard')">
        Get Started
      </button>
    </div>
  </div>
</div>
