@import '../../../styles.scss';

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  flex: 1;
}

ul {
  display: flex;
  gap: 1rem;
  font-family: 'VisbyCF-Regular';

  li {
    border-radius: 2rem;

    &.active {
      color: #fff;
      background-color: $nav-blue;

      button {
        color: #fff;
      }
    }
  }

  button {
    color: $brt-border;
    font-size: 1.325rem;
    font-weight: 100;
    padding: .225rem 1.4rem;
  }
}

.search {
  position: relative;

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
    color: $brt-border;
  }
}

.table-container {
  @include grid-border;
  overflow: auto;
  height: 60svh;

  tbody {
    display: contents;

    tr {
      position: relative;

      &:hover {
        color: $primary-blue;
        font-weight: 600;
        background-color: $hover;
      }
    }
  }
}

app-master-list-tooltip {
  position: fixed;
  pointer-events: none;
  transform: translate(1rem, -2rem);
  z-index: 3;
}
