<div class="container">
  <nav>
    <ul>
      <li *ngFor="let nav of tableNav" [class.active]="activeTable.value === nav.value">
        <button (click)="setActiveTable(nav)">{{ nav.name }}</button>
      </li>
    </ul>
  </nav>
  <div class="search">
    <input type="text" placeholder="Search" class="search-input" />
    <div class="search-icon"><i class="fas fa-search"></i></div>
  </div>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of activeTable.headers">{{ header }}</th>
      </tr>
    </thead>
    <tbody [ngSwitch]="activeTable.type">
      <ng-container *ngSwitchCase="'PAO'">
        <tr *ngFor="let data of masterList['PAO']" (mouseenter)="onRowHover($event, data)" (mouseleave)="onRowLeave()">
          <td>{{ data.lastName }}, {{ data.firstName }} {{ data.middleName }} </td>
          <td>{{ data.license }}</td>
          <td>{{ data.violationCode || '-' }}</td>
          <td>{{ data.violationMsg || '-' }}</td>
          <td>{{ (data.issued | date: 'dd MMM y') || '-' }}</td>
        </tr>
        <!-- <app-master-list-tooltip [content]="tooltipContent" #tooltip appCursorFollow></app-master-list-tooltip> -->
      </ng-container>
      <ng-container *ngSwitchCase="'Driver'">
        <tr *ngFor="let data of masterList['Driver']" (mouseenter)="onRowHover($event, data)"
          (mouseleave)="onRowLeave()">
          <td>{{ data.lastName }}, {{ data.firstName }} {{ data.middleName }} </td>
          <td>{{ data.license }}</td>
          <td>{{ data.violationCode || '-' }}</td>
          <td>{{ data.violationMsg || '-' }}</td>
          <td>{{ data.issued | date: 'dd MMM y' }}</td>
        </tr>
      </ng-container>
      <ng-container *ngSwitchCase="'POS'">
        <tr *ngFor="let data of masterList['POS']">
          <td>{{ data.IMEI }}</td>
          <td>{{ data.enrolled | date: 'dd MMM y' }}</td>
          <td>{{ data.operator || '-' }}</td>
          <td>{{ data.status }}</td>
        </tr>
      </ng-container>
      <ng-container *ngSwitchCase="'Sales'">
        <tr *ngFor="let data of masterList['Sales']">
          <td>{{ data.month | date: 'MMMM' }}</td>
          <td>{{ data.PAO || '-' }}</td>
          <td>{{ data.sales | currencyFormat }}</td>
        </tr>
      </ng-container>
      <ng-container *ngSwitchCase="'Violation'">
        <tr *ngFor="let data of masterList['Violation']">
          <td>{{ data.name }}</td>
          <td>{{ data.position }}</td>
          <td>{{ data.violationCount }}</td>
          <td>{{ data.violationMsg }}</td>
          <td>{{ data.issued | date: 'dd MMM y'}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <app-master-list-tooltip [content]="tooltipContent" #tooltip appCursorFollow></app-master-list-tooltip>
</div>
