<section class="calendar-header">
  <div class="calendar-header-content">
    <ng-container>
      <div class="month">
        <button class="b-lg px-4" (click)="changeView()">
          {{ $selectedCalendarView() | uppercase }}
        </button>

        <div class="center-content">
          <button
            class="btn-circle"
            (click)="navigate('prev')"
            [ngStyle]="{
              visibility:
                $selectedCalendarView() === 'daily' ||
                $selectedCalendarView() === 'yearly'
                  ? 'visible'
                  : 'hidden'
            }"
          >
            <i class="fa fa-angle-left"></i>
          </button>

          <span>
            {{ $selectedCalendarView() === 'daily' ? months[month - 1] : '' }}
            {{ $selectedCalendarView() === 'monthly' ? 'Monthly' : '' }}
            {{ $selectedCalendarView() === 'yearly' ? year : '' }}
          </span>

          <button
            class="btn-circle"
            (click)="navigate('next')"
            [ngStyle]="{
              visibility:
                $selectedCalendarView() === 'daily' ||
                $selectedCalendarView() === 'yearly'
                  ? 'visible'
                  : 'hidden'
            }"
          >
            <i class="fa fa-angle-right"></i>
          </button>
        </div>

        <button class="b-lg px-4 cursor-none">
          {{ year }}
        </button>
      </div>

      <div class="monthly-sales">
        <span
          class="monthly-sales-label"
          *ngIf="$selectedCalendarView() === 'daily'"
        >
          {{ monthlySales | currencyFormat }}
        </span>
      </div>
    </ng-container>
  </div>
</section>

<section class="calendar-body">
  <app-loading-spinner
    *ngIf="isLoading || isError"
    statusMessage="Fetching data"
    [isError]="isError"
    [errorMessage]="errorMessage"
  ></app-loading-spinner>

  <div id="display-calendar" class="calendar-container">
    <ng-container *ngIf="$selectedCalendarView() === 'daily'">
      <div class="weekdays">
        <ng-container *ngFor="let wd of days">
          <div class="weekday">
            {{ wd }}
          </div>
        </ng-container>
      </div>

      <div class="days">
        <ng-container *ngFor="let dt of dates">
          <div
            class="day"
            [ngClass]="{
              today:
                dt === day &&
                month === date.getMonth() + 1 &&
                year === date.getFullYear()
            }"
            [ngStyle]="{ visibility: dt === 0 ? 'hidden' : 'visible' }"
          >
            <div
              class="day-options"
              *ngIf="
                dailySales[dt] &&
                dailySales[dt].month === monthName &&
                dailySales[dt].year === year
              "
            >
              <div class="form-checkbox">
                <input
                  type="checkbox"
                  id="checkbox"
                  class="checkbox accent-blue-600"
                  [checked]="
                    dailySales[dt] && dailySales[dt].month === monthName
                  "
                  (change)="toggleCheckboxToUpdateTotalMonthlySales($event, dt)"
                />
                <label for="checkbox"></label>
              </div>
              <div class="dropdown dropdown-bottom dropdown-end">
                <div tabindex="0" role="button" class="btn-custom">
                  <i class="fa fa-angle-down"></i>
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content z-[1] menu bg-base-100 rounded w-36 shadow"
                >
                  <li><a (click)="viewStatistics(dt)">View Statistics</a></li>
                  <li><a (click)="viewAnalytics(dt)">View Analytics</a></li>
                  <li><a (click)="viewTimelapsed(dt)">Timelapse</a></li>
                </ul>
              </div>
            </div>
            <span class="date" *ngIf="dt !== 0">
              {{ dt }}
            </span>
            <span
              class="sales"
              *ngIf="
                dailySales[dt] &&
                dailySales[dt].month === monthName &&
                dailySales[dt].year === year
              "
            >
              {{ dailySales[dt].sales | currencyFormat }}
            </span>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="$selectedCalendarView() === 'monthly'">
      <div class="months">
        <ng-container *ngFor="let month of months">
          <div class="month" (click)="navigateToMonthlyView(month)">
            {{ month }}
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="$selectedCalendarView() === 'yearly'">
      <div class="years">
        <ng-container *ngFor="let year of years | slice : 0 : 12">
          <div class="year" (click)="navigateToYearlyView(year)">
            {{ year }}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>

<app-view-statistics [dateStr]="dateStr()"></app-view-statistics>
