@import '../../../styles.scss';

:host {
  @include gray-background;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.calendar-header {
  margin: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .calendar-header-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    padding: 20px 20px 10px;

    .month {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .center-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
      }

      button {
        justify-self: start;
      }

      button:last-child {
        justify-self: end;
      }

      span {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 1rem;
      }
    }

    .monthly-sales {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      row-gap: 10px;

      span {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

.calendar-body {
  position: relative;
  margin: 0px 20px 20px;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow-x: auto;

  .calendar-container {
    padding: 20px 20px 30px;
    min-width: 740px;

    .weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      row-gap: 10px;
      column-gap: 10px;
      margin-bottom: 20px;

      .weekday {
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      row-gap: 4px;
      column-gap: 4px;

      .day {
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #e5e5e5;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        position: relative;

        &:hover {
          background-color: #f5f5f5;
        }

        .date {
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 0.9rem;
          font-weight: 400;
        }

        .sales {
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-size: 1rem;
          font-weight: 500;
        }

        .day-options {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          display: flex;
          gap: 5px;

          .form-checkbox,
          .dropdown {
            height: 20px;
            width: 20px;
          }

          .form-checkbox {
            .checkbox {
              height: 20px;
              width: 20px;
            }
          }

          .dropdown {
            .btn-custom {
              height: 20px;
              width: 20px;
              padding: 0;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #0bd861;
              cursor: pointer;
            }
          }
        }
      }
    }

    .months {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 20px;
      margin-bottom: 20px;
      margin-top: 20px;

      .month {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
        }

        .month-name {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .sales {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }

    .years {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 20px;
      margin-bottom: 20px;
      margin-top: 20px;

      .year {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
        }

        .year-name {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .sales {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }

    .hours {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 10px;

      .hour {
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
          background-color: #f5f5f5;
        }

        .hour-name {
          font-size: 1.5rem;
          font-weight: 500;
          margin-right: 10px;
        }

        .sales {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }

    .today {
      outline: 2px solid #a3e635;
    }
  }
}

// if the screen size is less than 440px
@media screen and (max-width: 440px) {
  .calendar-header {
    .calendar-header-content {
      .month {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;

        .center-content {
          button {
            justify-self: start;
          }

          button:last-child {
            justify-self: end;
          }
        }

        button,
        button:last-child {
          justify-self: center;
        }
      }
    }
  }

  .calendar-body {
    .months {
      grid-template-columns: 1fr;
    }
  }
}
