<dialog id="zreading" class="modal">
  <div class="modal-box">
    <div class="modal-header">
      <h4 class="title">Z-Reading Logs</h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <div class="modal-body">
      <div class="transaction-data">
        <div>
          <p>
            IMEI: <span>{{ busData?.IMEI || '-' }}</span>
          </p>
          <p>
            Bus: <span>{{ busData?.branchID || '-' }}</span>
          </p>
          <p>
            Date:
            <span>{{ (busData?.txnDate | date : 'MMM d, yyyy') || '-' }}</span>
          </p>
        </div>
        <div>
          <p>
            Route: <span>{{ busData?.routeCode || '-' }}</span>
          </p>
          <p>
            PAO: <span>{{ busData?.PAO || '-' }}</span>
          </p>
          <!-- <p>Driver: <span>{{ busData?.branchID || '-' }}</span></p> -->
          <p>
            Logs: <span>{{ totalZreadingCount | numberFormat }}</span>
          </p>
        </div>
        <button
          class="btn-circle"
          (click)="printZReadingLogs()"
          title="Print"
          [disabled]="isLoading || isError || !zreadingLogs.length"
        >
          <i class="fas fa-print"></i> Print
        </button>
      </div>
      <div class="zreading-list">
        <app-loading-spinner
          *ngIf="isLoading || isError"
          [statusMessage]="statusMessage"
          [errorMessage]="errorMessage"
          [isError]="isError"
        ></app-loading-spinner>
        <div class="zreading" *ngFor="let zreading of zreadingLogs; index as i">
          <span class="z-read"
            ><i class="fas fa-receipt"></i> Zreading #{{ i + 1 }}</span
          >
          <span class="date-time"
            >Synced: {{ zreading.dateTimeIN | date : 'MMM d h:mm a' }}</span
          >
          <br />
          <p>{{ zreading.reportData }}</p>
        </div>
      </div>
      <!-- <div class="content">
        <div class="card card-compact shadow-xl z-0" style="margin-bottom: 1rem"
          *ngFor="let zreading of zreadingLogs; index as i">
          <div class="card-number">
            <span> <i class="fas fa-receipt"></i> Z-Reading Log #{{ i + 1 }} </span>
          </div>
          <div class="card-body">
            {{ zreading.reportData }}
          </div>
        </div>
        <div *ngIf="!zreadingLogs.length">{{ statusMessage }}</div>
      </div> -->
    </div>
  </div>
</dialog>
