<dialog id="removePersonnel" class="modal">
  <div class="modal-box">
    <div class="modal-header">
      <h4 class="title">Remove {{ personnelType }}</h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to remove: <br /><b>{{ personnelData?.lastName }}, {{ personnelData?.firstName }}</b>?
      </p>
    </div>
    <div class="modal-footer">
      <div *ngIf="messageDisplay">
        <i class="text-slate-500">{{ message }}</i>
      </div>
      <button class="danger" (click)="remove()">Remove</button>
    </div>
  </div>
</dialog>
