<section class="map">
  <div id="timelapse-map" class="map-container"></div>
</section>

<div class="slider">
  <div class="play text-center">
    <button class="btn-circle" (click)="playPauseTimelapse()">
      <i
        class="fas"
        [ngClass]="{ 'fa-play': !isPlaying(), 'fa-pause': isPlaying() }"
      ></i>
    </button>
    <p>{{ isPlaying() ? 'Pause' : 'Play' }}</p>
  </div>
  <ngx-slider
    [value]="minValue()"
    [highValue]="maxValue()"
    [options]="options()"
  ></ngx-slider>
</div>

<!-- <section class="head">
  <div class="main">
    <div class="navigate">
      <button type="button" class="btn-circle" (click)="navigateBack()">
        <i class="fas fa-chevron-left"></i>
      </button>
      <p>Timelapse</p>
    </div>
  </div>
  <div class="options">
    <div class="selection">
      <div class="dropdown">
        <div class="join join-horizontal" style="border-radius: 1rem">
          <button class="join-item">
            <label for="all-buses" class="flex items-center gap-2">
              <input
                type="checkbox"
                id="all-buses"
                (change)="onAllBusesChange($event)"
                [checked]="allBusesChecked()"
                [indeterminate]="indeterminate()"
              />
              All Buses <span class="text-xs">({{ busCheckedCount() }})</span>
            </label>
          </button>
          <button class="join-item" tabindex="0">
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>
        <ul
          tabindex="0"
          class="dropdown-content z-[1] card p-2 shadow bg-base-100 rounded-box max-h-96 overflow-auto flex flex-col gap-1"
        >
          <ng-container *ngFor="let bus of buses()">
            <li
              class="flex items-center justify-center hover:bg-base-200 cursor-pointer"
            >
              <input
                type="checkbox"
                id="{{ bus.id }}"
                [checked]="bus.checked"
                (change)="onBusChange(bus.id, $event)"
              />
              <label for="{{ bus.id }}" class="p-2 flex-1 cursor-pointer">
                {{ bus.name }}
              </label>
            </li>
          </ng-container>
        </ul>
      </div>

      <button type="button" class="px-4 py-3">Passengers</button>
      <button type="button" class="px-4 py-3">Buses</button>
    </div>
    <div class="resize">
      <button *ngIf="!maximize" (click)="resize()" class="btn-circle">
        <i class="fas fa-expand"></i>
      </button>
      <button *ngIf="maximize" (click)="resize()" class="btn-circle">
        <i class="fas fa-compress"></i>
      </button>
      <p>{{ maximize ? 'Minimize' : 'Maximize' }}</p>
    </div>
    <div class="date">
      <p>{{ date | date : 'MMMM d, yyyy' }}</p>
    </div>
  </div>
</section>

<section class="map">
  <div id="timelapse-map" class="map-container"></div>
</section>

<div class="slider">
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">View Location</span>
      <input type="checkbox" checked="checked" class="checkbox" />
    </label>
  </div>
  <ngx-slider
    [value]="minValue()"
    [highValue]="maxValue()"
    [options]="options()"
  ></ngx-slider>
</div> -->
