@import '../../../styles.scss';

.header {
  @include flex-between-center;
  position: sticky;
  top: 0;
  padding: 1rem;
  border-bottom: 1px solid $brt-border;
  font-family: 'ArticulatCF-Regular';
  font-size: 1.1875rem;
}

.bulletin-list {
  overflow: auto;
  height: 60svh;

  .bulletin-item {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #{$brt-border}80;
    box-shadow: 1px 1px 1px #00000029;

    &.is-read {
      background-color: #{$row-new}4d;
    }

    .sub-bulletin {
      font-size: 'Poppins-Light';
      display: flex;
      justify-content: space-between;

      small {
        font-size: 75%;
      }
    }
  }
}

.headline {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.625rem;

  img {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
  }

  .content {
    flex: 4;

    .title {
      font-family: 'Poppins-Bold';
      font-size: 0.9375rem;
    }

    .message {
      // width: 1rem;
      overflow: hidden;
      line-clamp: 2;
      // white-space: nowrap;
      text-overflow: ellipsis;
      font-family: 'Poppins-Regular';
      font-size: 0.625rem;
    }
  }
}
