<div class="header">
  <h4>TOP Bulletin</h4>
  <button><img [src]="menuIcon" /></button>
</div>
<div class="bulletin-list">
  <div *ngFor="let bulletin of bulletinList" class="bulletin-item" [class.is-read]="!bulletin.isRead">
    <div class="headline">
      <img src="" />
      <div class="content">
        <div class="title">{{ bulletin.title }}</div>
        <div class="message">{{ bulletin.message }}</div>
      </div>
    </div>
    <div class="sub-bulletin">
      <small>{{ bulletin.date | date: 'MMMM dd, y h:mm a' }}</small>
      <small>Click to view more</small>
      <img [src]="arrowDropdown">
    </div>
  </div>
</div>
