<dialog id="cctvHourly" class="modal">
  <div class="modal-box large">
    <div class="modal-header">
      <h4 class="title">CCTV Hourly Logs</h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <div class="modal-body">
      <div class="transaction-data">
        <div>
          <p>
            IMEI: <span>{{ busData?.IMEI || '-' }}</span>
          </p>
          <p>
            Bus: <span>{{ busData?.branchID || '-' }}</span>
          </p>
          <p>
            Date:
            <span>{{ (busData?.txnDate | date : 'MMM d, yyyy') || '-' }}</span>
          </p>
        </div>
        <div>
          <p>
            Route: <span>{{ busData?.routeCode || '-' }}</span>
          </p>
          <p>
            PAO: <span>{{ busData?.PAO || '-' }}</span>
          </p>
        </div>
        <button class="btn-circle" (click)="onPrint()">
          <i class="fas fa-print"></i> Print
        </button>
      </div>

      <div class="transaction-summary">
        <ng-container *ngFor="let item of totalTransactionHeader">
          <div>
            <p>{{ item.label }}</p>
            <strong>{{
              item.currency
                ? (item.value | currencyFormat)
                : (item.value | numberFormat)
            }}</strong>
          </div>
        </ng-container>
      </div>

      <div class="table-container">
        <app-loading-spinner
          *ngIf="isLoading || isError"
          [statusMessage]="statusMessage"
          [errorMessage]="errorMessage"
          [isError]="isError"
        ></app-loading-spinner>
        <table>
          <thead>
            <tr>
              <th *ngFor="let header of transactionHeaders">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of cctvHourlyLogs">
              <td>{{ log.txnHour | hour : log.txnDate : busData?.txnDate }}</td>
              <td>{{ log.tranCount | numberFormat }}</td>
              <td>{{ log.grossAmt | currencyFormat }}</td>
              <td>{{ log.paxCount | numberFormat }}</td>
              <td>{{ log.cctvEnter | numberFormat }}</td>
              <td>{{ log.cctvExit | numberFormat }}</td>
            </tr>
            <tr *ngIf="!isLoading && !cctvHourlyLogs.length">
              <td [colSpan]="transactionHeaders.length">{{ statusMessage }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</dialog>

<!-- <main *ngIf="modalState$ | async">
  <div class="modal large">
    <div class="header">
      <span>CCTV Hourly Transactions - Outlet (IMEI)</span>
      <span>Route Code</span>
      <p>PAO: </p>
    </div>
    <div class="body">
      <div class="total">
        <div *ngFor="let total of totalTransactions">
          <span>{{ total.name }}</span>
          <span>: {{ total.currency ? (total.value | currencyFormat) : (total.value | numberFormat) }}</span>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th *ngFor="let header of transactionHeaders">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of hourlyTransactions">
              <td>{{ transaction.TxnDate | date: 'MMM dd, yyyy' }}</td>
              <td>{{ transaction.TxnHour }}</td>
              <td>{{ transaction.TxnCount | numberFormat }}</td>
              <td>{{ transaction.TxnAmt | currencyFormat }}</td>
              <td>{{ transaction.PaxCount | numberFormat }}</td>
              <td>{{ transaction.CCTVEnter| numberFormat }}</td>
              <td>{{ transaction.CCTVExit | numberFormat }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button (click)="closeModal()" class="modal-close-btn"><i class="fas fa-times"></i></button>
</main> -->
