<div class="doughnut">
  <app-loading-spinner [statusMessage]="statusMessage" [isError]="isError" *ngIf="isLoading || isError"
    [errorMessage]="errorMessage"></app-loading-spinner>
  <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="chartType"></canvas>
</div>
<div class="options">
  <button (click)="prevMonth()" class="btn-circle" [disabled]="isLoading"><i class="fas fa-chevron-left"></i></button>
  <div class="details">
    <p class="month">{{ currentMonth }}</p>
    <p>{{ monthlySales | currencyFormat }}</p>
  </div>
  <button (click)="nextMonth()" class="btn-circle" [disabled]="isLoading"><i class="fas fa-chevron-right"></i></button>
</div>
