<section class="head">
  <div class="main">
    <div class="navigate">
      <button class="btn-circle cursor-none">
        <i class="fas fa-bell"></i>
      </button>
      <p>Buses with Potential Violations</p>
    </div>
  </div>
  <div class="options">
    <div class="resize">
      <button *ngIf="!maximize" (click)="resize()" class="btn-circle">
        <i class="fas fa-expand"></i>
      </button>
      <button *ngIf="maximize" (click)="resize()" class="btn-circle">
        <i class="fas fa-compress"></i>
      </button>
    </div>
    <div class="search">
      <input
        type="text"
        placeholder="Search Bus Details"
        class="search-input"
      />
      <div class="search-icon"><i class="fas fa-search"></i></div>
    </div>
  </div>
</section>

<section class="tables">
  <app-loading-spinner
    *ngIf="isLoading"
    [isError]="isError"
    [errorMessage]="errorMessage"
    statusMessage="Fetching Alerts..."
  ></app-loading-spinner>

  <div class="alerts-list">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of tableNav">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alert of alertsListSig()" (click)="onSelect(alert)">
          <td>{{ alert.IMEI || '-' }}</td>
          <td>{{ alert.Outlet || '-' }}</td>
          <td>{{ alert.PAO || '-' }}</td>
          <td>{{ alert.Route || '-' }}</td>
          <td>{{ alert.TimeIn || '-' }}</td>
          <td>{{ alert.TimeOut || '-' }}</td>
          <td>
            {{ (alert.LastResponse | date : 'MMM dd, yyyy hh:m a') || '-' }}
          </td>
          <td>
            {{ (alert.LastTransaction | date : 'MMM dd, yyyy hh:m a') || '-' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<app-alert-details [selectedAlert]="selectedAlert"></app-alert-details>
