@import '../../../../styles.scss';

main {
  // @include modal-layout;
  z-index: 4;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  p {

    &.error {
      color: red;
    }

    &.pending {
      color: $gray;
    }
  }

  // button {
  //   padding: 1rem;
  // }
}
