<section class="print-section">
  <div class="print-data" id="hourly-transaction-data">
    <div class="print-header">
      <div class="header-content">
        <img [src]="companyLogo" alt="GoodKredit Logo" class="logo" />
        <div class="header-details">
          <p>
            {{ currentDate | date : 'EEEE, MMMM d, y h:mm:ss a' }}
          </p>
          <p>
            {{ busData.PAO }}
          </p>
        </div>
      </div>
      <div class="header-title">
        <h1>Z-READING LOGS</h1>
      </div>
    </div>
    <div class="print-body">
      <div class="table-data-header">
        <ul class="header-details">
          <li>
            <p>
              DATE: <span>{{ busData.txnDate | date : 'MMMM d, y' }}</span>
            </p>
            <p>
              BUS: <span>{{ busData.branchID }}</span>
            </p>
          </li>
          <li>
            <p>
              ROUTE: <span>{{ busData.routeCode }}</span>
            </p>
            <p>
              IMEI: <span>{{ busData.IMEI }}</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="zreading-container">
        <ul class="zreading-list">
          <li
            class="zread-item"
            *ngFor="let zreading of zreadingLogs; let i = index"
          >
            <div class="item-header">
              <p class="z-read">
                <i class="fas fa-receipt"></i>
                ZReading #{{ i + 1 }}
              </p>
              <p class="date-time">
                <i class="far fa-clock"></i>
                Sync Date: {{ zreading.dateTimeIN | date : 'MMM d h:mm a' }}
              </p>
            </div>
            <div class="zread-data">{{ zreading.reportData }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="print-action">
    <button class="btn-circle" (click)="onPrint()" title="Print">
      <i class="fas fa-print"></i>
    </button>
  </div>
</section>
