.zreading-container {
  .zreading-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

    li.zread-item {
      border: 1px solid #e5e5e5;
      padding: 10px;

      .item-header {
        border-bottom: 1px solid #e5e5e5;

        p {
          font-weight: 600;
          font-size: 12px;
        }
      }

      .zread-data {
        white-space: break-spaces;
        font-size: 12px;
      }
    }
  }
}
