@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/imports.scss';

app-line-graph,
app-donut-graph,
app-bar-graph {
  // display: block;
  // width: calc(100% - 1rem);
  // height: calc(100% - 1rem);
  // min-height: 35svh;
}

// Specific Element Class
hr.margin-y {
  margin: 0.6rem 0;
}



// General Class
.tooltip {
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  backdrop-filter: blur(8px);
  border-radius: 1.2rem;
  pointer-events: none;
}

// .modal {
//   position: relative;
//   top: 10vh;
//   left: 50vw;
//   transform: translate(-50%, 0);
//   padding: 2rem;
//   background-color: #fff;
//   border-radius: 0.625rem;

//   &.small {
//     width: 30vw;
//   }

//   &.medium {
//     width: 40vw;
//   }

//   &.large {
//     width: 60vw;
//   }

//   .header {
//     // font-family: 'ArticulatCF-Medium';
//     font-size: 1.3125rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-bottom: 1rem;
//     border-bottom: 1px solid $brt-border;

// @include breakpoints(medium) {
//   flex-wrap: wrap;
// }
//   }

//   .body {
//     // font-family: 'ArticulatCF-Regular';
//     padding: 1rem 0;

//     .table-container {
//       border: 1px solid $brt-border;
//       border-radius: 0.65rem;
//       // padding: 0.5rem;
//       overflow: auto;
//       height: 30rem;

//       table {
//         table-layout: auto;

//         tr {
//           cursor: auto;

//           &:hover {
//             font-weight: normal;
//             color: inherit;
//             background-color: transparent;
//           }

//           th {
//             padding: 0.5rem 0.3rem;
//           }
//         }

//         thead,
//         tbody {
//           // font-family: 'ArticulatCF-Light';
//           font-size: 0.9375rem;
//         }
//       }
//     }
//   }

//   .footer {
//     padding-top: 1rem;
//     border-top: 1px solid $brt-border;
//   }

//   input {
//     &[type="text"] {
//       background-color: #EFEFEF;
//       border-radius: 1rem;
//       border: 1px solid #C3BEBE;
//       backdrop-filter: blur(10px);
//       box-shadow: none;
//     }
//   }
// }

.page.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 90%;
  padding-bottom: 1rem;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-color: $off-white;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
