<section class="total-summary">
  <div class="current">
    <div class="date-container">
      <div class="date">
        <p>{{ date | date: 'd MMM y' }}</p>
        <div class="sub-date">
          <div class="day-of-week">{{ date | date: 'EEEE' }}</div>
          <div class="time">{{ date | date: 'h:mm a' }}</div>
        </div>
      </div>
    </div>
    <div class="bus-container">
      <ul>
        <li *ngFor="let bus of busCategory" (click)="redirectToBuses(bus.path)" class="hover:bg-sky-700">
          <img [src]="bus.imgUrl" [alt]="bus.label">
          {{ bus.label }}
        </li>
      </ul>
    </div>
  </div>
  <app-statistics [dateStr]="dateStr"></app-statistics>
</section>
<section class="graph">
  <div class="line-statistics">
    <div class="header">
      <p>Statistics</p>
      <button (click)="switchGraph()" class="btn-circle" [disabled]="isLoading">
        <span *ngIf="lineGraphView"><i class="fas fa-chevron-right"></i></span>
        <span *ngIf="!lineGraphView"><i class="fas fa-chevron-left"></i></span>
      </button>
    </div>
    <app-line-graph *ngIf="lineGraphView" [statusMessage]="dailyAnalyticsMessage"
      (isLoaded)="fetchComplete($event)"></app-line-graph>
    <app-bar-graph *ngIf="!lineGraphView" [statusMessage]="routeStopsMessage" [txnDate]="dateStr"
      (isLoaded)="fetchComplete($event)"></app-bar-graph>
  </div>
  <div class="donut-statistics">
    <div class="header">
      <p>Routes</p>
      <button class="btn-circle" [routerLink]="routesPath"><i class="fas fa-chevron-right"></i></button>
    </div>
    <app-donut-graph></app-donut-graph>
  </div>
</section>
<section class="tables">
  <div class="master-list">
    <app-master-list></app-master-list>
  </div>
  <div class="bulletin">
    <app-top-bulletin></app-top-bulletin>
  </div>
</section>
