@import '../../../../styles.scss';

.modal-body {

  p,
  strong {
    font-size: 1.2rem;
  }
}

.imei-list {
  @include grid-border;
  height: 25vh;
  overflow: auto;
  margin-bottom: 1rem;
  padding: 0.5rem;

  tbody {
    tr {
      text-align: left;
    }
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
