<dialog id="addIMEI" class="modal">
  <div class="modal-box">
    <div class="modal-header">
      <h4 class="title">Add IMEI</h4>
      <form method="dialog">
        <button class="btn-circle danger"><i class="fas fa-times"></i></button>
      </form>
    </div>
    <div class="modal-body">

      <div class="imei-list">
        <div class="empty" *ngIf="!imeiList.length">
          <p>{{ imeiMessage }}</p>
        </div>
        <table *ngIf="imeiList.length">
          <thead>
            <tr>
              <th class="w-30">IMEI</th>
              <th class="w-50">Status</th>
              <th class="w-20">Check</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let imei of imeiList">
              <th>{{ imei.IMEI }}</th>
              <th>{{ isExistedInSetup(imei.IMEI) ? 'In setup' : '-' }}</th>
              <th class="text-center"> <input type="checkbox" class="checkbox" [checked]="isExistedInSetup(imei.IMEI)"
                  [disabled]="isExistedInSetup(imei.IMEI)" (change)="addToList(imei)"></th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="imei-list">
        <div class="empty" *ngIf="!selectedImeiList.length">
          <p>No IMEI Selected.</p>
        </div>
        <table *ngIf="selectedImeiList.length">
          <thead>
            <tr>
              <th class="w-10">Number</th>
              <th>IMEI</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let imei of selectedImeiList; index as i">
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">{{ imei.IMEI }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <div *ngIf="messageDisplay">
        <i class="text-slate-500">{{ message }}</i>
      </div>
      <button (click)="addIMEI()">Add</button>
    </div>
  </div>
</dialog>
